<div dir="rtl" class="container" style="padding: 20px 0;">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <span role="button" class="material-icons md-dark nav-link active" routerLink="/customer/create"
                        data-bs-toggle="tooltip" title="ایجاد مشتری جدید">add</span>
                </th>
            </tr>
            <tr>
                <th scope="col">ردیف</th>
                <th scope="col">عملیات</th>
                <th scope="col">نام</th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">تلفن</th>
                <th scope="col">آدرس</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers; index as row">
                <td scope="row">{{row + 1}}</td>
                <td>
                    <a href="/customer/delete/{{customer.id}}" class="material-icons btn btn-danger" role="button">delete</a>
                    <a href="/customer/edit/{{customer.id}}" class="material-icons btn btn-primary" role="button">edit</a>
                </td>
                <td>{{customer.firstName}}</td>
                <td>{{customer.lastName}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.address}}</td>
            </tr>
        </tbody>
    </table>
</div>