<nav dir="rtl" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Indicator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">خانه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin"
            *ngIf="userService.roleMatch(['Admin'])"
            >داشبورد ادمین</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/preInvoice/index"
            *ngIf="userService.roleMatch(['Admin'])"
            >پیش فاکتور</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/order/index"
            *ngIf="userService.roleMatch(['Admin'])"
            >ثبت سفارش</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/customer/index"
            *ngIf="userService.roleMatch(['Admin'])"
            >مشتری</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/carInformation/index"
            *ngIf="userService.roleMatch(['Admin'])"
            >اطلاعات ماشین</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/freightRate/index"
            *ngIf="userService.roleMatch(['Admin'])"
            >کوتاژ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/user"
            *ngIf="userService.roleMatch(['User'])"
            >داشبورد کاربر</a>
          </li>
         
        </ul>
        <button *ngIf="! isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">ورود</button>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()" >خروج</button>
      </div>
    </div>
  </nav>