<form class="needs-validation" style="padding: 20px 0;" novalidate>
    <div class="container">
        <h5>Pre Invoice Information</h5>
        <div class="row">
            <!-- <div class="col form-floating mb-3">
                <input name="fileNo" [(ngModel)]="preInvoice.fileNo" type="text" class="form-control" id="fileNo"
                    placeholder="fileNo">
                <label for="fileNo">Preinvoice Code</label>
            </div> -->

            <div class="col form-floating input-group mb-3">
                <input type="text" name="fileNo" [(ngModel)]="preInvoice.fileNo" class="form-control" id="fileNo"
                    placeholder="fileNo" aria-label="fileNo">
                <label for="fileNo">شماره پیش فاکتور</label>
                <button autocomplete="false" (click)="getPreInvoice()" type="submit"
                    class="btn btn-success material-icons md-dark nav-link active bordered" data-bs-toggle="tooltip"
                    title="گرفتن پیش فاکتور">archive</button>
                <button autocomplete="false" (click)="openPreInvoiceModal()" type="submit"
                    class="btn btn-primary material-icons md-dark nav-link active bordered" data-bs-toggle="tooltip"
                    title="گرفتن لیست پیش فاکتور ها">assignment</button>
            </div>

            <div class="col form-floating mb-3">
                <input name="preInvoiceDocumentNo" [(ngModel)]="preInvoice.documentNo" type="text" class="form-control"
                    id="preInvoiceDocumentNo" placeholder="preInvoiceDocumentNo" disabled>
                <label for="preInvoiceDocumentNo">شماره پرونده</label>
                <div class="valid-feedback">
                </div>
            </div>
            
            <div class="col form-floating mb-3">
                <input name="preOrderUnitValue" [(ngModel)]="preInvoice.preOrderUnitValue" type="number"
                    class="form-control" id="preOrderUnitValue" placeholder="preOrderUnitValue" disabled>
                <label for="preOrderUnitValue">ارزش  واحد پیش فاکتور</label>
            </div>
        </div>

        <div class="row">
            <div class="col form-floating mb-3">
                <input name="documentNo" [(ngModel)]="order.orderHeaderVM.documentNo" type="text" class="form-control"
                    id="documentNo" placeholder="documentNo" required>
                <label for="documentNo">شماره ثبت سفارش</label>
            </div>
            <div class="col form-floating mb-3">
                <input name="invoiceNo" [(ngModel)]="order.orderHeaderVM.invoiceNo" type="text" class="form-control"
                    id="invoiceNo" placeholder="lastName" required>
                <label for="invoiceNo">شماره اینویس</label>
                <div class="valid-feedback">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col form-floating mb-3">
                <input name="invoiceValue" [(ngModel)]="order.orderHeaderVM.invoiceValue" type="text" class="form-control"
                    id="invoiceValue" placeholder="invoiceValue" required>
                <label for="invoiceValue">مبلغ اینویس</label>
            </div>
        </div>

        <table class="table table-hover table-bordered">
            <thead>
                <th style="text-align:center" colspan="6">جزئیات سفارش</th>
                <tr>
                    <th colspan="6">
                        <span role="button" class="material-icons md-dark nav-link active" data-bs-toggle="tooltip"
                            (click)="openAcc(true)" title="Create new Detail">note_add</span>
                    </th>
                </tr>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">عملیات</th>
                    <th scope="col">مشتری</th>
                    <th scope="col">شماره شاسی</th>
                    <th scope="col">معرف</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderDetail of order.orderDetailVM; index as ind">
                    <td scope="row">{{orderDetail.rowNo}}</td>
                    <td>
                        <a (click)="deleteDetail(ind)" class="material-icons btn btn-danger" role="button">delete</a>
                        <a (click)="openAcc(false,ind)" class="material-icons btn btn-primary" role="button">edit</a>
                    </td>
                    <td>{{orderDetail.customerName}}</td>
                    <td>{{orderDetail.carInformationChassis}}</td>
                    <td>{{orderDetail.reagentName}}</td>
                </tr>
            </tbody>
        </table>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" (panelChange)="beforeChange($event)">
            <ngb-panel id="detailAcc" disabled="true">
                <ng-template ngbPanelContent>
                    <div class="row">
                        <label class="col-2">مشتری:</label>
                        <select name="customerSelect" [(ngModel)]="newOrderDetail.customerId" class="col form-select" aria-label="customerSelect">
                            <option *ngFor="let customer of customers" value="{{customer.id}}">{{customer.firstName}}
                                {{customer.lastName}}</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-2">شماره شاسی:</label>
                        <select name="carInformationSelect" [(ngModel)]="newOrderDetail.carInformationId" class="col form-select"
                            aria-label="carInformationSelect">
                            <option *ngFor="let carInformation of carInformations" value="{{carInformation.id}}">
                                {{carInformation.id}} {{carInformation.chassisNumber}}
                            </option>
                        </select>
                    </div>

                    <div class="col form-floating mb-3">
                        <input name="reagentName" type="text" class="form-control"
                            [(ngModel)]="newOrderDetail.reagentName" placeholder="reagentName" required>
                        <label for="reagentName">معرف</label>
                        <div class="valid-feedback">
                        </div>
                    </div>

                    <button (click)="saveDetail()" type="submit" class="col-2 btn btn-success">ذخیره</button>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

        <div class="row">
            <button *ngIf="viewAction == 100" (click)="create()" type="submit"
                class="col-2 btn btn-primary">ایجاد</button>
            <button *ngIf="viewAction == 200" (click)="edit()" type="submit" class="col-2 btn btn-primary">ویرایش</button>
            <span class="col-8"></span>
            <button (click)="backToList()" type="submit" class="col-2 btn btn-secondary">بازگشت به لیست</button>
        </div>
    </div>

</form>