<div class="container" style="padding: 20px 0;">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <span role="button" class="material-icons md-dark nav-link active" routerLink="/carInformation/create"
                        data-bs-toggle="tooltip" title="Create new Car Information">add</span>
                </th>
            </tr>
            <tr>
                <th scope="col">Row</th>
                <th scope="col">Actions</th>
                <th scope="col">Chassis Number</th>
                <th scope="col">Engine Number</th>
                <th scope="col">Car Year Model</th>
                <th scope="col">Location</th>
                <th scope="col">Arrive Boarder Date</th>
                <th scope="col">Arrive Documents Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let carInformation of carInformations; index as row">
                <td scope="row">{{row + 1}}</td>
                <td>
                    <a href="/carInformation/delete/{{carInformation.id}}" class="material-icons btn btn-danger" role="button">delete</a>
                    <a href="/carInformation/edit/{{carInformation.id}}" class="material-icons btn btn-primary" role="button">edit</a>
                </td>
                <td>{{carInformation.chassisNumber}}</td>
                <td>{{carInformation.engineNumber}}</td>
                <td>{{carInformation.carYearModel}}</td>
                <td>{{carInformation.location}}</td>
                <td>{{carInformation.arriveBoarderDateDisplay}}</td>
                <td>{{carInformation.arriveDocumentsDateDisplay}}</td>
            </tr>
        </tbody>
    </table>
</div>