<div class="container" style="padding: 20px 0;">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <span role="button" class="material-icons md-dark nav-link active" routerLink="/carInformation/create"
                        data-bs-toggle="tooltip" title="ایجاد اطلاعات ماشین جدید">add</span>
                </th>
            </tr>
            <tr>
                <th scope="col">ردیف</th>
                <th scope="col">عملیات</th>
                <th scope="col">شماره شاسی</th>
                <th scope="col">شماره موتور</th>
                <th scope="col">سال ساخت /مدل خودرو</th>
                <th scope="col">محل ماشین</th>
                <th scope="col">تاریخ رسیدن به مرز</th>
                <th scope="col">تاریخ رسیدن اسناد</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let carInformation of carInformations; index as row">
                <td scope="row">{{row + 1}}</td>
                <td>
                    <a href="/carInformation/delete/{{carInformation.id}}" class="material-icons btn btn-danger" role="button">delete</a>
                    <a href="/carInformation/edit/{{carInformation.id}}" class="material-icons btn btn-primary" role="button">edit</a>
                </td>
                <td>{{carInformation.chassisNumber}}</td>
                <td>{{carInformation.engineNumber}}</td>
                <td>{{carInformation.carYearModel}}</td>
                <td>{{carInformation.location}}</td>
                <td>{{carInformation.arriveBoarderDateDisplay}}</td>
                <td>{{carInformation.arriveDocumentsDateDisplay}}</td>
            </tr>
        </tbody>
    </table>
</div>