<div dir="rtl" class="container" style="padding: 20px 0;">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <span role="button" class="material-icons md-dark nav-link active" routerLink="/order/create"
                        data-bs-toggle="tooltip" title="Create new Order">add</span>
                </th>
            </tr>
            <tr>
                <th scope="col">ردیف</th>
                <th scope="col">عملیات</th>
                <th scope="col">شماره ثبت سفارش</th>
                <th scope="col">شماره اینویس</th>
                <th scope="col">مبلغ اینویس</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderHeader of orderHeaders; index as row">
                <td scope="row">{{row + 1}}</td>
                <td>
                    <a href="/order/delete/{{orderHeader.id}}" class="material-icons btn btn-danger" role="button">delete</a>
                    <a href="/order/edit/{{orderHeader.id}}" class="material-icons btn btn-primary" role="button">edit</a>
                </td>
                <td>{{orderHeader.documentNo}}</td>
                <td>{{orderHeader.invoiceNo}}</td>
                <td>{{orderHeader.invoiceValue}}</td>
            </tr>
        </tbody>
    </table>
</div>