

  <p>

<mat-toolbar color="primary" >
  <span class="fill-remaining-space">سیستم ثبت اندیکاتور</span>
</mat-toolbar>
    <mat-toolbar >

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style"> 
          <mat-button-toggle  routerLink="/preinvoice" *ngIf="userService.roleMatch(['Admin'])" >درخواست</mat-button-toggle>
          <mat-button-toggle  routerLink="/order" *ngIf="userService.roleMatch(['Admin'])" >سفارش</mat-button-toggle>
          <mat-button-toggle  routerLink="/preInvoice/index" *ngIf="userService.roleMatch(['Admin'])" >کوتاژ</mat-button-toggle>
          <mat-button-toggle  routerLink="/preInvoice/index" *ngIf="userService.roleMatch(['Admin'])" >مشتری</mat-button-toggle>
          <mat-button-toggle  routerLink="/preInvoice/index" *ngIf="userService.roleMatch(['Admin'])" >شاسی</mat-button-toggle>
  
        </mat-button-toggle-group>
  
      <span class="example-spacer"></span>


      <button *ngIf="! isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>
      <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()" >Logout</button>

 
    </mat-toolbar>
  </p>