<mat-card style="width: 100%; text-align:center;">
    <mat-card-title>Login dialog</mat-card-title>
    <mat-card-content>
        <form #loginForm="ngForm">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>User Name</mat-label>
                <input matInput type="text" ngModel name="userName" id="userName" placeholder="Enter your username">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" ngModel name="userPassword" id="userPassword"
                    placeholder="Enter your password">
            </mat-form-field>


            <br>
            <button mat-raised-button type="submit" value="Login" (click)="login(loginForm)">login</button>
        </form>
    </mat-card-content>

</mat-card>