<form dir="rtl" style="padding: 20px 0;">
    <div class="container">
        <div class="row">
            <div class="col form-floating mb-3">
                <input name="chassisNumber" [ngModel]="carInformation.chassisNumber" type="text" class="form-control" id="chassisNumber"
                    placeholder="شماره شاسی" disabled>
                <label for="chassisNumber">شماره شاسی</label>
            </div>
            <div class="col form-floating mb-3">
                <input name="engineNumber" [ngModel]="carInformation.engineNumber" type="text" class="form-control" id="engineNumber"
                    placeholder="شماره موتور" disabled>
                <label for="engineNumber">شماره موتور</label>
                <div class="valid-feedback">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col form-floating mb-3">
                <input name="carYearModel" [ngModel]="carInformation.carYearModel" type="text" class="form-control" id="carYearModel"
                    placeholder="سال ساخت/ مدل خودرو" disabled>
                <label for="carYearModel">سال ساخت /مدل خودرو</label>
            </div>
            <div class="col form-floating mb-3">
                <input name="location" [ngModel]="carInformation.location" type="text" class="form-control" id="location"
                    placeholder="محل ماشین" disabled>
                <label for="location">محل ماشین</label>
                <div class="valid-feedback">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col form-floating mb-3">
                <input name="arriveBoarderDate" [ngModel]="carInformation.arriveBoarderDateDisplay" type="text" class="form-control" id="arriveBoarderDate"
                    placeholder="تاریخ رسیدن به مرز" disabled>
                <label for="arriveBoarderDate">تاریخ رسیدن به مرز</label>
            </div>
            <div class="col form-floating mb-3">
                <input name="arriveDocumentsDate" [ngModel]="carInformation.arriveDocumentsDateDisplay" type="text" class="form-control" id="arriveDocumentsDate"
                    placeholder="تاریخ رسیدن اسناد" disabled>
                <label for="arriveDocumentsDate">تاریخ رسیدن اسناد</label>
                <div class="valid-feedback">
                </div>
            </div>
        </div>

        <div class="row">
            <button (click)="delete()" type="submit" class="col-2 btn btn-danger">حذف</button>
            <span class="col-8"></span>
            <button (click)="backToList()" type="submit" class="col-2 btn btn-secondary">بازگشت به لیست</button>
        </div>
    </div>
</form>