<div class="container" style="padding: 20px ;width: 100%; height: 100%">

  <div novalidate>
    <form [formGroup]="formGroup" class="form">

      <mat-form-field class="form-element">
        <input matInput placeholder="شماره سفارش" formControlName="orderNo">
        <mat-error *ngIf="getDocumentNo.invalid && getDocumentNo.touched">
          {{ getErrorDocumentNo() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="شماره اینویس" formControlName="invoiceNo">
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="تعداد اینویس" formControlName="invoiceValue">
      </mat-form-field>


      <mat-form-field class="form-element">
        <input matInput placeholder="شماره درخواست" formControlName="preInvoiceNo">
        <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="openDialogPreInvoiceNo()">
          <mat-icon>search</mat-icon>
      </button>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput [matDatepicker]="picker1" formControlName="vchDate" placeholder="تاریخ">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <div class="form-element">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle mat-raised-button (click)="onSubmit(formGroup.value)" type="submit"
            [disabled]="formGroup.invalid">ذخیره</mat-button-toggle>
          <mat-button-toggle mat-raised-button (click)="delete()" [disabled]="formGroup.invalid">حذف</mat-button-toggle>
          <mat-button-toggle mat-raised-button (click)="reset()">جدید</mat-button-toggle>
          <mat-button-toggle mat-raised-button (click)="refresh()">بروزرسانی</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </form>
  </div>

  <!-- AG Grid Angular Component -->
  <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-alpine" [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef" [rowData]="rowData" [rowSelection]="'multiple'" [animateRows]="true"
    [enableRtl]="true" [columnHoverHighlight]="true" (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged($event)"></ag-grid-angular>

</div>