<div class="container" style="padding: 20px ;width: 100%; height: 100%">



  <div novalidate>
    <form [formGroup]="formGroup" class="form">

      <div class="form-element">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle mat-raised-button (click)="openDialogOrderHdrList()"> لیست سفارش</mat-button-toggle>

          <mat-button-toggle mat-raised-button (click)="onSubmit(formGroup.value)" type="submit"
            [disabled]="formGroup.invalid">ذخیره</mat-button-toggle>
          <mat-button-toggle mat-raised-button (click)="delete()" [disabled]="formGroup.invalid">حذف</mat-button-toggle>
          <mat-button-toggle mat-raised-button (click)="reset()">جدید</mat-button-toggle>
          <mat-button-toggle mat-raised-button (click)="refresh()">بروزرسانی</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <mat-form-field class="form-element">
        <input matInput placeholder="شماره سفارش" formControlName="orderNo">
        <mat-error *ngIf="getDocumentNo.invalid && getDocumentNo.touched">
          {{ getErrorDocumentNo() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="شماره اینویس" formControlName="invoiceNo">
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="تعداد اینویس" formControlName="invoiceValue">
      </mat-form-field>


      <mat-form-field class="form-element">
        <input matInput placeholder="شماره درخواست" formControlName="preInvoiceNo">
        <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="openDialogPreInvoiceNo()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput [matDatepicker]="picker1" formControlName="vchDate" placeholder="تاریخ">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>


    </form>
  </div>

  <div style="width: 100%; height: 100%">
    <div class="form-element">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle mat-raised-button (click)="addRow()">
          <mat-icon><span class="material-icons">
              add
            </span></mat-icon>
        </mat-button-toggle> 
        <mat-button-toggle mat-raised-button (click)="removeRow()">
          <mat-icon><span class="material-icons">
              remove
            </span></mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div novalidate>
      <form [formGroup]="formGroupItm" class="form">

        <mat-form-field class="form-element">
          <input matInput placeholder="شماره شاسی" formControlName="carInformationChassisNumber">
          <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="openChassiDialog()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="مشتری" formControlName="customerName">
          <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="openCustomerDialog()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="معرف" formControlName="agentName">
          <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="openAgentDialog()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

      </form>
    </div>
    <!-- AG Grid Angular Component-->
    <app-order-itm-grid (outputGetFromGrid)="onSelectionItmChanged($event)"></app-order-itm-grid>
  </div>

</div>