
    <div dir="rtl" class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">شماره ردیف ثبت سفارش</th>
                    <th scope="col">شماره ثبت سفارش</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="closeModal(orderDetail)" role="button" *ngFor="let orderDetail of orderDetailsModal; index as row">
                    <td scope="row">{{row + 1}}</td>
                    <td>{{orderDetail.orderDetailRowNo}}</td>
                    <td>{{orderDetail.orderHeaderDocumentNo}}</td>
                </tr>
            </tbody>
        </table>
      </form>
    </div>
  
  