<div dir="rtl" class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">PreInvoice List</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('close')"></button>
</div>
<div class="modal-body">
    <form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">شماره پیش فاکتور</th>
                    <th scope="col">شماره پرونده</th>
                    <th scope="col">ارزش واحد پیش فاکتور</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="closeModal(preInvoice)" role="button" *ngFor="let preInvoice of preInvoices; index as row">
                    <td scope="row">{{row + 1}}</td>
                    <td>{{preInvoice.fileNo}}</td>
                    <td>{{preInvoice.documentNo}}</td>
                    <td>{{preInvoice.preOrderUnitValue}}</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>